<form class="login-form" [formGroup]="loginForm">
  <mat-form-field class="email field">
    <input matInput placeholder="Email" formControlName="emailFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>

  <mat-form-field class="password field">
    <input matInput placeholder="Mot de passe" type="password" formControlName="passwordFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>
  <button type='button' [disabled]="loginForm.invalid" (click)="onClickMe()" class="connect" mat-raised-button color="primary">Se connecter</button>
  {{clickMessage}}
</form>

