<div style="margin: 10px;">
  <div *ngIf="isAdmin | async">
    <form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
      <label for="editor">
        <h1>Éditeur HTML</h1>
      </label>
      <mat-form-field appearance="outline">
        <mat-label>Titre</mat-label>
        <input matInput placeholder="Titre de l'article" formControlName="title">
      </mat-form-field>
      <quill-editor [style]="editorStyle" formControlName="editor">
      </quill-editor>
      <button type="submit" mat-raised-button color="primary" style="margin-top: 20px;">Envoyer</button>
    </form>
  </div>

  <h1>Actualités</h1>
  <app-htmlarticles>


  </app-htmlarticles>
</div>
