<mat-card>
  <mat-card-title>Bienvenue</mat-card-title>
  <mat-card-content>
    <app-user-card [currentUser]="currentUser" [user]="currentUser" ></app-user-card>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Articles</mat-card-title>
  <mat-card-content>
    <app-htmlsinglearticle [article]="article"></app-htmlsinglearticle>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Document</mat-card-title>
  <mat-card-content>
    <app-file-card [file]="file"></app-file-card>
  </mat-card-content>
</mat-card>
