<mat-card class="htmlarticle-card">
  <mat-card-header>
    <div mat-card-avatar class="htmlarticle-header-image"></div>
    <mat-card-title>Premier article</mat-card-title>
    <mat-card-subtitle>Arnaud Couderc</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id nemo voluptate vel perferendis unde in excepturi nam, porro, explicabo saepe tempora aut, et facilis? Odit aliquid commodi debitis harum et?
  </mat-card-content>
</mat-card>
